<% include partials/header %>
<style>
.show-grid [class^=col-] {
padding-top: 10px;
padding-bottom: 10px;
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
list-style: none;
}

.glyphicon {
margin-top: 5px;
margin-bottom: 10px;
font-size: 35px;
}

.inactive { 
    color: #ccc;
    background-color: #fafafa;
} 
</style>

<div class="row" style="margin-top:25px">
    <ol class="show-grid col-md-12">
          <li class="col-md-6">
           <div class="media">
            <div class="media-body">
                <a href="/resultados/gestao">
                <h5 class="media-heading"><strong>Pesquisa Gestão:</strong></h5>
                Administração / Economia / Contabilidade
                </a>
            </div>
        </div>
          </li>
          <li class="col-md-6">
          <div class="media">
            <div class="media-body">
                <a href="/resultados/icsa">
                <h5 class="media-heading"><strong>Pesquisa ICSA:</strong></h5>
                Arquivologia / Biblioteconomia / Servico Social / Turismo
                </a>
            </div>
        </div>
          </li>
    </ol>
</div>
